/* CSS declarations go here */
body {
	background-color: #778899;
}

.page-header {
	background-color: #5f9ea0;
    padding-left: 1em;
    border-radius: 1em;
}

.page-header h1 {
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}